<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/logo.png" type="image/png">
  </head>
<body>
    <header>
        <a href="#" class="logo"><i class="fa-solid fa-cloud-sun"></i></i>Weather</a>
      <nav class="nav-bar">
          <a href="/" id="home">Home</a>
          <a href="/Weather" id="weather">Weather</a>
          <a href="/About" id="about">About</a>
      </nav>
      <div class="icon">
        <i class="fa-solid fa-bars" id="menu"></i>
        <i class="fa-solid fa-user" id="user"></i>
      </div>
      <form action=".php" class="login-form">
        <h3>Login Now</h3>
        <input type="email" placeholder="Enter your E-mail" class="box">
        <input type="password" placeholder="Enter your pass" class="box">
        <div>
            <p>forget password <a href="#">forget</a></p>
            <p>don't have an account <a href="#">create account</a></p>
        </div>
        <input type="submit" value="login-now" class="btn">
      </form>
    </header>
    <main>
      <section class="home">
        <div class="content">
            <p>Welcome to Weather app</p>
            <h1>Get the latest <span>weather</span> info of your city</h1>
            <a href="/Weather" class="btn">Check now</a>
         </div>
         <div class="images">
         </div>
      </section>
    </main>
    <footer class="footer">
       <div>All rights are reserved</div>
    </footer> 
    <script src="../js/main.js"></script> 
</body>
</html>